<section class="about-area ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image wow animate__animated animate__fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <img src="assets/img/about/img1.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="content">
                        <span class="sub-title"><img src="assets/img/star-icon.png" alt="image"> About Us</span>
                        <h2>Drive Digital Revolution Through Data Science</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <ul class="features-list">
                            <li><span>
                                <div class="icon">
                                    <img src="assets/img/icon1.png" alt="image">
                                </div>
                                <h3>10 Years</h3>
                                <p>On the market</p>
                            </span></li>

                            <li><span>
                                <div class="icon">
                                    <img src="assets/img/icon1.png" alt="image">
                                </div>
                                <h3>45+</h3>
                                <p>Team members</p>
                            </span></li>

                            <li><span>
                                <div class="icon">
                                    <img src="assets/img/icon1.png" alt="image">
                                </div>
                                <h3>100%</h3>
                                <p>Satisfaction rate</p>
                            </span></li>

                            <li><span>
                                <div class="icon">
                                    <img src="assets/img/icon1.png" alt="image">
                                </div>
                                <h3>80%</h3>
                                <p>Senior scientist</p>
                            </span></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="about-inner-area">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Our History</h3>
                        <p>Real innovations and a positive customer experience are the heart of successful communication.</p>
                        
                        <ul class="features-list">
                            <li><i class="flaticon-tick"></i> Activate Listening</li>
                            <li><i class="flaticon-tick"></i> Brilliant minds</li>
                            <li><i class="flaticon-tick"></i> Better. Best. Wow!</li>
                            <li><i class="flaticon-tick"></i> Branding it better!</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Our Mission</h3>
                        <p>Real innovations and a positive customer experience are the heart of successful communication.</p>
                        
                        <ul class="features-list">
                            <li><i class="flaticon-tick"></i> Creating. Results.</li>
                            <li><i class="flaticon-tick"></i> Expect more</li>
                            <li><i class="flaticon-tick"></i> Good thinking</li>
                            <li><i class="flaticon-tick"></i> In real we trust</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                    <div class="about-text">
                        <h3>Who we are</h3>
                        <p>Real innovations and a positive customer experience are the heart of successful communication.</p>
                        
                        <ul class="features-list">
                            <li><i class="flaticon-tick"></i> Stay real. Always.</li>
                            <li><i class="flaticon-tick"></i> We have you covered</li>
                            <li><i class="flaticon-tick"></i> We turn heads</li>
                            <li><i class="flaticon-tick"></i> Your brand, promoted</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="circle-shape1"><img src="assets/img/shape/circle-shape1.png" alt="image"></div>
</section>