<section class="about-area ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image wow animate__animated animate__fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <img src="assets/img/about/img1.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="content">
                        <span class="sub-title"><img src="assets/img/star-icon.png" alt="image"> About Us</span>
                        <h3>Unleash Potential Through Technology</h3>
                        <p>
                          By making an integrated set of tools available on a smartphone and browser alike, we are putting
                          reports and know-how into the hands of institutions or individual farmers.
                        </p>
                        <ul class="features-list">
                            <li><span>
                                <div class="icon">
                                    <img src="assets/img/icon1.png" alt="image">
                                </div>
                                <h3>10+ Years</h3>
                                <p>In the market</p>
                            </span></li>

                            <li><span>
                                <div class="icon">
                                    <img src="assets/img/icon1.png" alt="image">
                                </div>
                                <h3>45+</h3>
                                <p>Customers</p>
                            </span></li>

                            <li><span>
                                <div class="icon">
                                    <img src="assets/img/icon1.png" alt="image">
                                </div>
                                <h3>100%</h3>
                                <p>Satisfaction rate</p>
                            </span></li>

                            <li><span>
                                <div class="icon">
                                    <img src="assets/img/icon1.png" alt="image">
                                </div>
                                <h3>20+</h3>
                                <p>Different Reports</p>
                            </span></li>
                        </ul>
                        <p>
                          Analysis has shown that most farmers do not achieve the potential
                          of the breed they are raising. The downside to this is that a lot of
                          energy and money is wasted with little positive outcome. We believe
                          that through better recordkeeping and data analysis results can be improved substantially.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="about-inner-area">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Our Mission</h3>
                        <p>To support all stakeholders in the poultry value chain, improve their operations by providing actionable data and insights.</p>

                        <ul class="features-list">
                            <li><i class="flaticon-tick"></i> By collecting and analyzing data</li>
                            <li><i class="flaticon-tick"></i> By identifying areas for improvement</li>
                            <li><i class="flaticon-tick"></i> Allowing you to make interventions </li>
                            <li><i class="flaticon-tick"></i> Improve the technical and financial results</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Our Vision</h3>
                        <p> We envision a world where poultry value chain is streamlined, efficient, and accessible for all stakeholders.</p>

                        <ul class="features-list">
                            <li><i class="flaticon-tick"></i> Revolutionise poultry management through innovative technology</li>
                            <li><i class="flaticon-tick"></i> Providing our users with intuitive tools to optimise productivity</li>
                            <li><i class="flaticon-tick"></i>
                              Fostering communities of thriving poultry stakeholders and
                              contribute to a more sustainable and secure food supply
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                    <div class="about-text">
                        <h3>Our Core Values</h3>
                        <p>We are committed to continuously improving our software to provide cutting-edge solutions that enhance poultry farming and productivity.</p>

                        <ul class="features-list">
                            <li><i class="flaticon-tick"></i> Innovation</li>
                            <li><i class="flaticon-tick"></i> Integrity</li>
                            <li><i class="flaticon-tick"></i> User-Centricity</li>
                            <li><i class="flaticon-tick"></i> Sustainability</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="circle-shape1"><img src="assets/img/shape/circle-shape1.png" alt="image"></div>
</section>

<div class="partner-area ptb-70 bg-fafafb">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-2 col-6 col-sm-4 col-md-4">
              <div class="single-partner-item wow animate__animated animate__fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                  <img src="assets/img/partner/img1.png" alt="image">
              </div>
          </div>

          <div class="col-lg-2 col-6 col-sm-4 col-md-4">
              <div class="single-partner-item wow animate__animated animate__fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                  <img src="assets/img/partner/img2.png" alt="image">
              </div>
          </div>

          <div class="col-lg-2 col-6 col-sm-4 col-md-4">
              <div class="single-partner-item wow animate__animated animate__fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                  <img src="assets/img/partner/img3.png" alt="image">
              </div>
          </div>

          <div class="col-lg-2 col-6 col-sm-4 col-md-4">
              <div class="single-partner-item wow animate__animated animate__fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                  <img src="assets/img/partner/img4.png" alt="image">
              </div>
          </div>

          <div class="col-lg-2 col-6 col-sm-4 col-md-4">
              <div class="single-partner-item wow animate__animated animate__fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                  <img src="assets/img/partner/img5.png" alt="image">
              </div>
          </div>

          <div class="col-lg-2 col-6 col-sm-4 col-md-4">
              <div class="single-partner-item wow animate__animated animate__fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                  <img src="assets/img/partner/img6.png" alt="image">
              </div>
          </div>
      </div>
  </div>
</div>
