

<div class="navbar-area">
    <div class="tracer-responsive-nav">
        <div class="container">
            <div class="tracer-responsive-menu">
                <div class="logo black-logo">
                    <a routerLink="" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">
                        <img src="assets/img/IGC.png" alt="logo" style="height:80px; width: auto;">
                    </a>
                </div>
                <div class="logo white-logo">
                    <a routerLink="" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">
                        <img src="assets/img/white-IGC.png" alt="logo" style="height:80px; width: auto;">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="tracer-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand black-logo" routerLink="" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">
                    <img src="assets/img/IGC.png" alt="logo" style="height:100px; width: auto;">
                </a>
                <a class="navbar-brand white-logo" routerLink="" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">
                    <img src="assets/img/IGC-icon.png" alt="logo" style="height:100px; width: auto;">
                </a>

                <div class="collapse navbar-collapse mean-menu">
                    <ul class="navbar-nav d-flex align-items-center">
                        <li class="nav-item"><a class="nav-link" routerLink="" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">Home</a></li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="about-us" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">About Us</a>
                        </li>
                        <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Modules <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/module/breeder-management" class="nav-link">Breeder Management</a></li>

                                <li class="nav-item"><a routerLink="/module/broiler-management" class="nav-link">Broiler Management</a></li>

                                <li class="nav-item"><a routerLink="/module/layer-management" class="nav-link">Layer Management</a></li>

                                <li class="nav-item"><a routerLink="/module/hatchery-management" class="nav-link">Hatchery Management</a></li>

                                <li class="nav-item"><a routerLink="/module/feedmill-management" class="nav-link">Feed Mill Management</a></li>

                                <li class="nav-item"><a routerLink="/module/veterinary-management" class="nav-link">Veterinary Management</a></li>

                                <li class="nav-item"><a routerLink="/module/finance-module" class="nav-link">Finance Module</a></li>

                                <li class="nav-item"><a routerLink="/module/egg-packing" class="nav-link">Egg Packing</a></li>

                                <li class="nav-item"><a routerLink="/module/processing-management" class="nav-link">Processing Management</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" routerLink="/blog" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">Blog</a></li>

                        <li class="nav-item"><a class="nav-link" routerLink="/contact-us" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">Contact Us</a></li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://igrowchicken.azurewebsites.net/Account/Login" target="_blank">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
