
<section class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Contact Us</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
</section>


<section class="contact-info-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="contact-info-box">
                    <div class="back-icon">
                        <i class='bx bx-map'></i>
                    </div>
                    <div class="icon">
                        <i class='bx bx-map'></i>
                    </div>
                    <h3>Our Address</h3>
                    <p>Wagenweg 222, 2012 NM Haarlem, Netherlands</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="contact-info-box">
                    <div class="back-icon">
                        <i class='bx bx-phone-call'></i>
                    </div>
                    <div class="icon">
                        <i class='bx bx-phone-call'></i>
                    </div>
                    <h3>Contact</h3>
                    <p>Mobile: <a href="tel:+31 654 31 3771">+31 654 31 3771</a></p>
                    <p>E-mail: <a href="mailto:info@igrowchicken.com">info&#64;igrowchicken.com</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="contact-info-box">
                    <div class="back-icon">
                        <i class='bx bx-time-five'></i>
                    </div>
                    <div class="icon">
                        <i class='bx bx-time-five'></i>
                    </div>
                    <h3>Hours of Operation</h3>
                    <p>Monday - Saturday: 09:00 - 17:00</p>
                    <p>Sunday : Closed</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contact-area pb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title"><img src="assets/img/star-icon.png" alt="image"> Get in Touch</span>
            <p>All fields are required.</p>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="contact-image" data-tilt="">
                    <img src="assets/img/contact.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="contact-form">
                    <form  name="contact-form">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                              <mat-form-field class="form-field col-md-6" appearance="fill">
                                <mat-label class="label">Name</mat-label>
                                <input matInput [formControl]="name" placeholder="Please enter your name"/>
                                <mat-error *ngIf="name.invalid" class="text-danger">Please enter your name</mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-lg-12 col-md-6">
                              <mat-form-field class="form-field col-md-6 ml-2" appearance="fill">
                                <mat-label class="label">Email</mat-label>
                                <input matInput [formControl]="email" placeholder="Please enter a valid email address" />
                                <mat-error *ngIf="email.invalid" class="text-danger">Please enter a valid email</mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-lg-12 col-md-12">
                              <mat-form-field class="form-field" appearance="fill">
                                <mat-label class="label">Subject</mat-label>
                                <input matInput [formControl]="subject" placeholder="Your subject matter"/>
                                <mat-error *ngIf="subject.invalid" class="text-danger">Please enter a subject</mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-lg-12 col-md-12">
                              <mat-form-field class="form-field-full" appearance="fill">
                                <mat-label class="label">Message</mat-label>
                                <textarea matInput [formControl]="message" maxlength="256" rows="5" placeholder="What do you need?"></textarea>
                                <mat-hint align="end" class="label"> {{message.value?.length || 0}}/256</mat-hint>
                                <mat-error *ngIf="message.invalid" class="text-danger">Please enter a message</mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <button type="submit" [disabled]="submitting" class="default-btn" name="send"><i class="flaticon-tick"></i>Send Message<span></span></button>
                                 <input [formControl]="honeypot" class="hidden" type="text" />
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>

                    <div [ngClass]="!submitted ? 'hidden' : 'visible'" class="center-text text-success mt-2">
                      <img src="assets/img/success-check.png" alt="success-image" class="success-image"> <strong><span style="font-size: 1.3em; margin-top: 10px;">{{ responseMessage }}</span></strong>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
