<footer class="footer-area bg-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo black-logo">
                        <img src="assets/img/IGC.png" alt="footer-logo" style="height: 120px; width: auto;">
                    </a>
                    <a href="index.html" class="logo white-logo">
                        <img src="assets/img/white-logo.png" alt="logo">
                    </a>
                    <p>Follow us on our socials.</p>
                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>                        
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Explore</h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="" routerLinkActive="router-link-active" ariaCurrentWhenActive="page" >Home</a></li>
                        <li><a routerLink="/about-us" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">Company</a></li>
                        <li><a href="javascript:void(0);">Case Studies</a></li>
                        <li><a routerLink="/blog" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">Our Blog</a></li>
                        <li><a routerLink="contact-us" routerLinkActive="router-link-active">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Resources</h3>
                    <ul class="footer-links-list">
                        <li><a href="team-1.html">Our Scientists</a></li>
                        <li><a href="services-1.html">Our Services</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="single-services-1.html">SaaS Solutions</a></li>
                        <li><a href="single-services-2.html">eCommerce</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>
                    <ul class="footer-contact-info">
                        <li><i class='bx bx-map'></i>175 5th Ave, New York, NY 10010, United States</li>
                        <li><i class='bx bx-phone-call'></i><a href="tel:+44587154756">+1 (123) 456 7890</a></li>
                        <li><i class='bx bx-envelope'></i><a href="/cdn-cgi/l/email-protection#6008050c0c0f201412010305124e030f0d"><span class="__cf_email__" data-cfemail="58303d343437182c2a393b3d2a763b3735">[email&#160;protected]</span></a></li>
                        <li><i class='bx bxs-inbox'></i><a href="tel:+557854578964">+55 785 4578964</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <!-- <p><i class='bx bx-copyright'></i><script type="text/javascript">document.write(new Date().getFullYear());</script> <strong> I Grow Chicken</strong></p> -->
                     <p>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> <strong> I Grow Chicken</strong></p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        <li><small><a target="_blank" href="https://envytheme.com/"> Theme by EnvyTheme</a></small></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-map"><img src="assets/img/footer-map.png" alt="image"></div>
</footer>