<footer class="footer-area bg-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo black-logo">
                        <img src="assets/img/IGC.png" alt="footer-logo" style="height: 90px; width: auto;">
                    </a>
                    <a routerLink="/" class="logo white-logo">
                        <img src="assets/img/IGC-icon.png" alt="footer-logo-dark" style="height: 90px; width: auto;">
                    </a>
                    <p>Follow us on our socials.</p>
                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Explore</h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="" routerLinkActive="router-link-active" ariaCurrentWhenActive="page" >Home</a></li>
                        <li><a routerLink="/about-us" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">Company</a></li>
                        <li><a href="javascript:void(0);">Case Studies</a></li>
                        <li><a routerLink="/blog" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">Our Blog</a></li>
                        <li><a routerLink="/contact-us" routerLinkActive="router-link-active">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Modules</h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="/modules/detail/finance-module">Finance</a></li>
                        <li><a routerLink="/modules/detail/veterinary-management">Veterinary</a></li>
                        <li><a routerLink="modules/detail/layer-management">Layer Management</a></li>
                        <li><a routerLink="modules/detail/broiler-management">Broiler Management</a></li>
                        <li><a routerLink="/modules">All Modules</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>
                    <ul class="footer-contact-info">
                        <li><i class='bx bx-map'></i>Wagenweg 222,2012 NM Haarlem, Netherlands</li>
                        <li><i class='bx bx-phone-call'></i><a href="tel:+31 654 31 3771">+31 654 31 3771</a></li>
                        <li><i class='bx bx-envelope'></i><a href="mailto:info@igrowchicken">info&#64;igrowchicken.com</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                     <p>&copy; <strong>2025 I Grow Chicken</strong></p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><small><a target="_blank" href="https://envytheme.com/"> Theme by EnvyTheme</a></small></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-map"><img src="assets/img/footer-map.png" alt="image"></div>
</footer>
