

<div class="seo-agency-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="banner-wrapper-content">
                    <span class="sub-title">SEO Agency</span>
                    <h1 class="wow animate__animated animate__fadeInLeft" data-wow-delay="00ms" data-wow-duration="1000ms">Creative & Strategic Digital SEO Agency</h1>
                    <p class="wow animate__animated animate__fadeInLeft" data-wow-delay="100ms" data-wow-duration="1000ms">We have created a cloud based tool to do your all boring tasks related to data analysis and decesion making based on the nature of data!</p>
                    <div class="btn-box">
                        <a href="about-us-3.html" class="default-btn wow animate__animated animate__fadeInRight" data-wow-delay="200ms" data-wow-duration="1000ms"><i class="flaticon-right"></i>About Us<span></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="banner-wrapper-image wow animate__animated animate__fadeInUp" data-tilt="" data-wow-delay="00ms" data-wow-duration="1000ms">
                    <img src="assets/img/banner-img2.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>