

<section class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Egg Packing</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/modules">Modules</a></li>
                <li>Egg Packing</li>
            </ul>
        </div>
    </div>

    <div class="shape-img1"><img src="assets/img/shape/shape1.svg" alt="image"></div>
    <div class="shape-img2"><img src="assets/img/shape/shape2.png" alt="image"></div>
    <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
  </section>


  <section class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="services-details-desc">
                    <span class="sub-title">Egg Packing</span>
                    <p style="margin-top: 30px;">
                      I Grow Chicken Software's egg packing module is an essential tool that helps farmers manage their eggs effectively. With this module, farmers can keep track of their eggs,
                      monitor their production, and optimize their egg packing process.
                    </p>
                    <p>
                      The egg packing module in I Grow Chicken Software provides farmers with real-time data on their eggs,
                      enabling them to make informed decisions about their egg production and packaging. This module helps farmers
                      optimize their egg packing process, ensuring that eggs are packed efficiently and in a timely manner.
                    </p>

                    <h3>Core Features</h3>

                    <div class="row align-items-center">
                      <div class="col-lg-6 col-md-6">
                          <div class="image">
                              <img src="assets/img/projects/img2.jpg" alt="image">
                          </div>
                      </div>

                      <div class="col-lg-6 col-md-6">
                          <div class="content">
                              <h3>Analyze Egg Grades & Quality</h3>
                              <p>
                                Evaluate the ungraded stock and the results of egg grading, including the second-grade eggs. This analysis will enable you to make informed decisions, enhance your bird's health, identify potential issues, and take necessary actions.
                              </p>
                          </div>
                      </div>
                    </div>

                    <div class="row align-items-center">
                      <div class="col-lg-6 col-md-6">
                          <div class="content">
                              <h3>Improved Productivity</h3>
                              <p>
                                I Grow Chicken optimizes operations and enhances efficiencies, enabling layer farms to achieve their full production potential and boost productivity.
                              </p>
                          </div>
                      </div>

                      <div class="col-lg-6 col-md-6">
                        <div class="image">
                            <img src="assets/img/blob.jpg" alt="reports">
                        </div>
                      </div>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="services-details-info">

                    <div class="services-contact-info">
                        <h3>Contact us today</h3>

                        <ul>
                            <li>
                                <div class="icon">
                                    <i class='bx bx-user-pin'></i>
                                </div>
                                <span>Phone:</span>
                                <a href="tel:+31 654 31 3771">+31 654 31 3771</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="project-start-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="project-start-image">
                    <img src="assets/img/project-start1.png" data-speed="0.06" data-revert="true" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="project-start-content">
                    <h2 class="wow animate__animated animate__fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">Want to know more on the Feed Mill?</h2>
                    <p class="wow animate__animated animate__fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                     Get in touch with us today or schedule a demo with one of our experts.
                    </p>

                    <a class="default-btn wow animate__animated animate__fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms" href="#"
                     onclick="Calendly.initPopupWidget({url: 'https://calendly.com/mike-waweru-ebit-plus/igc-demo-request'});return false;"><i class="flaticon-web"></i>Book a Demo
                    </a>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="services-area pt-100 pb-70 bg-f1f8fb">
    <div class="container">
        <div class="section-title">
            <h2>More Modules You Might Like</h2>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box wow animate__animated animate__fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="assets/img/services/icon1.png" alt="image">
                    </div>
                    <h3><a routerLink="/modules/detail/processing-management">Processing Management</a></h3>
                      <p>
                        Easily track and manage the health records of your flock, schedule vaccinations and treatments for healthy
                        and productive birds.
                      </p>
                      <a routerLink="/modules/detail/processing-management" class="read-more-btn">Go to Module <i class="flaticon-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box wow animate__animated animate__fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="assets/img/services/icon1.png" alt="image">
                    </div>
                    <h3><a routerLink="/modules/detail/broiler-management/">Broiler Management</a></h3>
                    <p>
                      Monitor your broiler birds' performance, enhance their health and body weight to achieve the best and superior Feed Conversion Ratio.
                    </p>
                    <a routerLink="/modules/detail/broiler-management/" class="read-more-btn">Go to Module <i class="flaticon-right"></i></a>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box wow animate__animated animate__fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="assets/img/services/icon1.png" alt="image">
                    </div>
                    <h3><a routerLink="/modules/detail/layer-management">Layer Management</a></h3>
                    <p>Oversee flock performance and plan egg production. Easily handle daily transactions and ensure the completion of the entire cycle.</p>
                    <a routerLink="/modules/detail/layer-management" class="read-more-btn">Go to Module <i class="flaticon-right"></i></a>
                </div>
            </div>
        </div>
    </div>
  </section>
